.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .text-body-emphasis, .dark-mode .lead {
    color: #ffffff !important;
}
.dark-mode .nav-link {
    color: #66b2ff !important;
}
.dark-mode .brand-text {
    color: #66b2ff !important;
}
header {
    background-color: transparent !important;
    border-bottom: none !important;
    padding: 1rem 2rem;
}
.nav-link {
    margin: 0 10px;
}


body {
    padding-top: 80px; /* ป้องกัน navbar ทับเนื้อหา */
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .text-body-emphasis, 
.dark-mode .lead, 
.dark-mode .text-body-secondary {
    color: #ffffff !important;
}
.dark-mode .nav-link {
    color: #66b2ff !important;
}
.dark-mode .brand-text {
    color: #66b2ff !important;
}
.dark-mode footer {
    border-top: 1px solid #ffffff;
}

.dark-mode header {
    background-color: #1f1f1f !important;
    border-bottom: 1px solid #333 !important;
}

.dark-mode .nav-link {
    color: #66b2ff !important;
}

.dark-mode .nav-link.active {
    color: #ffffff !important;
}
