<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
</head>
<body>

    <div class="background-animation">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

    <header class="navbar">
        <h1>My Website</h1>
        <nav>
            <a href="http://127.0.0.1:5000" class="nav-link">Home</a>
            <a href="next-content-section" class="nav-link active">Content</a>
            <button onclick="openPopup()" class="btn-about" aria-label="Learn more about us">ABOUT US</button>
        </nav>
    </header>

    <div id="overlay">
        <div id="popup">
            <p>เกี่ยวกับพวกเรา ม.2/2</p>
            <p>จัดทำโดยเด็กชายวรินทร เทพเซ่งหลี เลขที่11</p>
            <p>เตรียมเนื้อหาโดยเด็กชายศรรวริศ ทองสมุทร เลขที่13</p>
            <p>เช็คความถูกต้องเนื้อหาโดยเด็กชายฮัสซัน รบเมือง เลขที่14</p>
            <button onclick="closePopup()" class="about-btn" aria-label="Learn more about us">close now</button>
        </div>
    </div>

    <section id="next-content-section" class="hero">
        <h1>ยินดีต้อนรับเข้าสู่ "อ่านและรู้คู่ขนานสู่เหตุผล"</h1>
        <p>เนื้อหาหลักของเว็บไซต์นี้ ทางเราหวังเป็นอย่างยิ่งว่าผู้ที่เข้ามาอ่านอาจจะได้ความรู้ไปบ้างไม่มากก็น้อย โปรดอ่านก่อนแล้วค่อย กดปุ่มด้านล่างนี้เพื่อเริ่มต้น Get Start</p>
        <a href="#one-maincontent" class="to-next">Start Now</a>
    </section>

    <section id="one-maincontent" class="hero">
        <h1>นิยามบท เรื่องเส้นขนานและเรื่องการให้เหตุผลทางเรขาคณิต</h1>
        <div class="mainhero">
            <h2>1.เส้นขนาน</h2>
            <p>1.เส้นตรงสองเส้นที่อยู่บนระนาบเดียวกันขนานกัน ก็ต่อเมื่อ เส้นตรงทั้งสองไม่ตัดกัน 2.เส้นตรงเส้นหนึ่งตัดเส้นตรงคู่หนึ่ง เส้นตรงคู่นั้นขนานกัน ก็ต่อเมื่อผลบวกของขนาดของมุมภายในที่อยู่บนข้างเดียวกันของเส้นตัดเท่ากับ180 ํ</p>
            <h2>2.การให้เหตุผลทางเรขาคณิต</h2>
            <p>1.จุด เส้นตรงและระนาบเป็นคำอนิยามในทางเรขาคณิตเป็นพื้นฐานในการสือความหมายให้เข้าใจตรงกันโดยไม่ต้องกำหนดความหมาย 2.บทนิยามพื้นฐานทางเรขาคณิต 2.1.ส่วนของเส้นตรง คือ ส่วนของเส้นตรงที่มีจุดปลายสองจุด 2.2.รังสี คือ ส่วนหนึ่งของเส้นตรงที่มีจุดปลายเพียงจุดเดียว 2.3.มุม คือ รังสีสองเส้นที่มีจุดปลายเป็นจุดเดียวกันเรียกรังสีเส้นนี้ว่าแขนของมุมและเรียกจุดปลายที่เป็นจุดเดียวกันว่า จุดมุมยอด</p>
        </div>
        <a href="#two-maincontent" class="to-next">next Now</a>
    </section>

    <section id="two-maincontent" class="hero">
        <h1>ทฤษฎีบท เรื่องเส้นขนานและเรื่องการให้เหตุผลทางเรขาคณิต</h1>
        <div class="mainhero">
            <h2>1.เส้นขนาน</h2>
            <p>1.ถ้าเส้นตรงสองเส้นขนานกันและมีเส้นตัดแล้วมุมแย้งมีขนาดเท่ากัน 2.เส้นตรงเส้นหนึ่งตัดเส้นตรงคู่หนึ่ง เส้นตรงคู่นั้นขนานกัน ก็ต่อเมื่อมุมแย้งมีขนาดเเท่ากัน 3.ถ้าเส้นตรงสองเส้นขนานกันและมีเส้นตัดแล้วมุมภายนอกและมุมภายในที่อยู่ตรงข้ามข่างเดียวกันของเส้นตัดมีขนาดเท่ากัน</p>
            <h2>2.การให้เหตุผลทางเรขาคณิต</h2>
            <p>1.ถ้าเส้นตรงสองเส้นตัดกัน แล้วมุมตรงข้ามมีขนาดเท่ากัน 2.เมื่อเส้นตรงเส้นหนึ่งตัดเส้นตรงคู่หนึ่งเส้นตรงคู่นั้ขนานกัน ก้ต่อเมื่อมุมแย้งมีขนาดเท่ากัน 3.ถ้าต่อด้านใดด้านหนึ่งของรูปสามเหลี่ยมออกไปมุมภายนอกที่เกิดขึ้นจะมีขาดเท่ากับผลบวกของขนาดของมุมภายในที่ไม่ใช่มุมประชิดของมุมภายนอกนั้น</p>
        </div>
        <a href="#msmaincontent" class="to-next">next Now</a>
    </section>

    <section id="msmaincontent" class="hero">
        <h1>ตัวอย่างโจทที่เกี่ยวข้องกับเรื่องเส้นขนานและเรื่องการให้เหตุผลทางเรขาคณิต
        <div class="mainhero">
            <p>กำหนดให้ ABCD เป็นรูปสี่เหลี่ยมด้านขนาน มีส่วนของเส้นตรงAB//ส่วนของเส้นตรงCD และส่วนของเส้นตรงBC//ส่วนของเส้นตรงDA เส้นทแยงมุม AC และ BD ตัดกันที่จุด O จงพิสูจน์ว่า AO = CO และ BO = DO</p>
            <img src="{{ url_for('static', filename='img/A (1).png') }}" alt="เน็ตคุณกากเกินไป Please connect again." width="400" height="400">
            <p>กำหนดให้ □ABCD เป็นรูปสี่เหลี่ยมด้านขนาน มีส่วนของเส้นตรงAB//ส่วนของเส้นตรงCD และส่วนของเส้นตรงBC//ส่วนของเส้นตรงDA เส้นทแยงมุม AC และ BD ตัดกันที่จุด O</p>
            <p>ต้องการพิสูจน์ว่า AO = CO และ BO = DO</p>
            <p>พิสูจน์ พิจารณา ∆OBC และ ∆ODA</p>
            <p>1.มุมOCB = มุมOAD (มุมแย้งมีขนาดเท่ากัน)</p>
            <P>2.มุมBOC = มุมDOA (มุมตรงข้ามมีขนาดเท่ากัน)</P>
            <P>3.BC = DA (ด้านตรงข้ามของรูปสี่เหลี่ยมด้านขนานยาวเท่ากัน)</P>
            <P>4.∆OBC ≅ ∆ODA (มุม-มุม-ด้าน)</P>
            <P>5.AO = CO และBO = DO (ด้านคู่ที่สมนัยกันของรูปสามเหลี่ยมสองรูปที่เท่ากัน ทุกประการจะยาวเท่ากัน)</p>
        </div>
    </section>

    <footer class="navbar"></footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>